[submodule "libs/glfw"]
	path = libs/glfw
	url = git://github.com/glfw/glfw.git
[submodule "libs/glew-cmake"]
	path = libs/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "libs/gl3w/gl3w"]
	path = libs/gl3w/gl3w
	url = https://github.com/skaslev/gl3w
